* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #000000;
    --segundary-color: #ffffff;
    --tertiary-color: #7E023C;
    --quaternary-color: #F20374;
    --quinternary-color: #0ddc0d;
}
html{
    scroll-behavior: smooth;
}
/* Inicio do Header */
.header {
    position: relative;
}
.img {
    background-image: url(img/ConjuntoMoveis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    opacity: 0.4;
}
.description-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header h1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: var(--primary-color);
}
.header p {
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    color: var(--primary-color);
    padding-top: 15px;
    line-height: 25px;
    max-width: 600px;
}
.link{
 font-size: 20px;
 text-decoration: none;
 color: var(--primary-color);
}
/* Fim do Header */
/* Iníco dos Serviços */
.services {
    text-align: center;
    position: relative;
    padding:50px; 
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    margin: 30px auto;
    height: 400px;
    width: 900px;
}
.description-services p{
    padding-top: 40px;
    font-size: 20px;
}
.card-pai{
    display: flex;
   padding: 50px;
    text-align: justify;
}
.card{
    padding-right:20px;
    margin-left: 5px;
    position: relative;
    font-size: 18px;
}
.number{
    position: absolute;
    left: -14px
}
.title{
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}
.products h2{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;

}
/* Fim dos Serviços */
/* Inicio dos produtos */
.furniture{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.furniture img{
    margin: 10px;
    width: 200px;
    height: 180px;
    opacity: 0.8;
    transition: 0.9s;
}
.furniture img:hover{
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}
.furniture p {
    max-width: 500px; 
    text-align: justify;
}
.furniture-text {
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    max-width: 300px;  
    padding-right: 25px; 
    padding-left: 5px; 

}
/* Fim dos produtos */
.rental-process {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto;
    padding-top: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    max-width: 900px;
    max-height: 800px;

}
.rental-process-title p,
.phases-drescription p {
    padding-bottom: 26px;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 30px; 

}
.rental-process-title h2 {
    text-align: center;
    font-size: 30px;
}
.phases {
    font-size: 15px;

}
.phases-name {
    display: flex;
    font-weight: bold;
    font-size: 20px;
}
.phases-name p {
    padding-right: 10px;
}
/* Entrega */
.contact,
.pay,
.delivery {
    text-align: center;
    padding-top: 25px; 
}
.faq-information h2,
.contact h2,
.pay h2,
.delivery h2 {
    font-size: 30px;
    padding-bottom: 15px;
}
.contact > p,
.pay >p,
.delivery > p {
    font-size: 20px;
    padding-bottom: 20px;
}

.options {
    display: flex;
    flex-wrap: wrap;
}
.removal,
.secure {
    padding: 25px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    color: var(--segundary-color);
    background-color: var(--tertiary-color);
    margin: 40px auto  ;
    justify-content: center;
    padding: 60px;
    text-align: center; 
}
.contact-information {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 20px;
}
.card-pay {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
}
button {
    background-color: var(--quaternary-color);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    font-size: 20px;
    color: var(--segundary-color);
}
button:hover {
    cursor: pointer;
}
.faq {
    position: relative;
    text-align: center;
}
.image-faq {
    background-image: url(img/faq.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin: 50px auto;
    border-radius: 30px;
    opacity: 0.8;
    max-width: 1100px;
}
.faq-information {
    /* position: absolute;
    top: 50px;
    left: 450px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: -120px;
    position: absolute;
    color:var(--segundary-color);
    
   
}
.questions-faq {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; 
    height: 100%;
    color: var(--segundary-color);
    top: 0px;
}
.questions {
    display: flex;
    padding: 20px;
}
.github,
footer {
    background-color: var(--primary-color);
    color: var(--segundary-color);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.redeSocial{
    background-color: var(--quinternary-color);
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    
}
/* INCIO RESPONSIVIDADE */
@media (max-width:1056px) {
   
    .furniture img {
        width: 180px;
        opacity: 1;

    }
}
@media (max-width:1024px) {
    .furniture img {
        width: 155px;
        height: 160px;
    }
    .furniture h3 {
        font-size: 17px;
        margin-bottom: 5px;
        margin-top: 15px;
        /* height: 160px; */
        
     }
    .furniture p {
        font-size: 15px;
        line-height: 20px;
        width: 200px;
    } 
}
@media (max-width:800px) {
    .services {
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .description-services h1 {
        font-size: 20px;
        margin-top:  2px;
        
    }
    .description-services p{
        font-size: 15px;
        padding-top: 5px;

    }
    .title{
        padding-bottom: 2px;
    }
    .card p {
        font-size: 10px;
    
        
    }
  
    .description-services {
        font-size: 40px;     
    }
   
    .furniture  {
       display: flex;
       flex-direction: column;
       justify-content: center;
        align-items: center;
    }
    .furniture img {
        display: flex;
        text-align: center;
        width: 300px;
        height: 180px;
       
    }
    .furniture h3 {
        font-size: 20px;
    }
    .furniture p {
        font-size: 15px;
        width: 300px;
        line-height: 22px;
        
    }
    .contact iframe {
     width: 345px;   
    }
    
    .contact-information{
        font-size: 25px;
    }
    .contact h2 {
        font-size: 25px;
    }
    .contact p{
        font-size: 9px;
    }
   
    .pay h2{
        font-size: 10px;
    }
    .pay p {
        font-size: 10px;
    }
    .card-pay {
        font-size: 11px;
        
    }
    .rental-process {
        font-size: 25px;
        width: 350px;
    }
    .removal,
    .secure {
        width: 350px;
    }
    .faq-information h2 {
        font-size: 20px;
    }
    .faq {
        width: 345px;
        margin: 0 auto;
    }
    .faq p {
        font-size: 10px;
    }
    .faq h3 {
        font-size: 13px;
    }
}



    
