* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    position: relative;
}
.img {
    background-image: url(img/ConjuntoMoveis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    opacity: 0.4;
}
.description-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header h1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: black;
}
.header p {
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    color: black;
    padding-top: 15px;
    line-height: 25px;
    max-width: 600px;
}
.services {
    text-align: center;
    position: relative;
    padding:50px; 
    border: 2px solid black;
    border-radius: 25px;
    margin: 30px auto;
    height: 400px;
    width: 900px;
}
.description-services p{
    padding-top: 40px;
    font-size: 20px;
}
.card-pai{
    display: flex;
   padding: 50px;
    text-align: justify;
}
.card{
    padding-right:20px;
    margin-left: 5px;
    position: relative;
    font-size: 18px;
}
.number{
    position: absolute;
    left: -14px
}
.title{
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}
.products h2{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;

}
.furniture{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.furniture img{
    margin: 10px;
    width: 200px;
    height: 180px;
}
.furniture p {
    max-width: 500px; 
     text-align: justify;
}
.furniture-text {
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    max-width: 300px;  
    padding-right: 25px; 
    padding-left: 5px; 

}
.re {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    
}
/* corpo do texto */
/*PROCESSO DE ALUGUEL*/
.rental-process {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto;
    padding-top: 20px;
    border: 2px solid black;
    border-radius: 25px;
    max-width: 900px;
    max-height: 800px;
    
}
.rental-process-title p,
.phases-drescription p {
    padding-bottom: 26px;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 30px; 

}
.rental-process-title h2 {
    text-align: center;
    font-size: 30px;
}
.phases {
    font-size: 15px;

}
.phases-name {
    display: flex;
    font-weight: bold;
    font-size: 20px;
}
.phases-name p {
    padding-right: 10px;
}
/* Entrega */
.contato,
.pg,
.delivery {
    text-align: center;
    padding-top: 25px; 
}
.contato h2,
.pg h2,
.delivery h2 {
    font-size: 30px;
    padding-bottom: 15px;
}
.contato > p,
.pg >p,
.delivery > p {
    font-size: 20px;
    padding-bottom: 20px;
}

.options {
    display: flex;
    flex-wrap: wrap;
}
.removal,
.secure {
    padding: 25px;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    background-color: #7E023C;
    margin: 40px auto  ;
    justify-content: center;
    padding: 60px;
    text-align: center; 
}
/* PAGEMENTO - */
.pagamento {
    background-image: url(img/novo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin: 50px auto;
    border-radius: 30px;
    opacity: 0.8;
    max-width: 1050px;
}
/* Pagemento Facilitado */
.pagamento-facilitado {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 20px;
}
.pagamento1 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;

}
/* Contato */
button {
 background-color: #F20374;
 padding: 20px;
 border-radius: 20px;
 margin: 20px;
 font-size: 20px;
 color: white;
}
button:hover {
    cursor: pointer;
}

/* FAQ */
.organizacao {
    position: relative;
    text-align: center;
}
.pagar {
    position: absolute;
    top: 50px;
    left: 450px;
    color: white;
    text-align: center;
}
.titulos {
  position: absolute;
  display: flex;
  justify-content: center;
  
  align-items: center;
  text-align: center;
  width: 100%; /* Para ocupar toda a largura da tela */
  height: 100%; /* Para ocupar toda a altura da tela */
  color: white;
  top: 0px;
}

.perguntas {
    display: flex;
    padding: 20px;
}
/* footer */
a,
footer {
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.redeSocial{
    background-color: rgb(14, 197, 14);
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
}


    
